//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^https://petergg.netlify.app[nc]
RewriteRule ^(.*)$ https://petergg.netlify.app/$1 [r=301,nc]

//Custom 404 errors
ErrorDocument 404 /pages/404/

//Change default directory page
DirectoryIndex /pages/home/index.html

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>
 
